<div class="topbar animated fadeInLeftBig"></div>

<!-- -------------------------------------Header Starts----------------------------------- -->
<div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
                
              <!-- Logo Starts -->
              <br>
              <!--div class="col-sm-3"></div-->
              <a style="margin-left:7px; margin-rgith:7px; margin-top:17px;" class="img-responsive" href="http://concretehumanity.com/eu/"><img src="images/logot.jpg" alt="logo"></a>
              <!-- #Logo Ends -->

              <button style="margin-bottom:17px; margin-top:-17px" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right scroll">
                 <li style="margin-top: 2.8%;"><form action="/" method="get" ><p><input id="from_nuestro" type="submit" value="Tattoo Factory"></p></form></li>
                 <li ><a href="#valoraciones"><form ><p><input  id="from_nuestro" type="submit" value="Consejos"></p></form></a></li>
                 <li style="margin-left:-2.5%;"><a href="#redess"><form><p><input  id="from_nuestro" type="submit" value="Redes Sociales"></p></form></a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>
      </div>
    </div>
<!-- #Header Ends -->
<!-- -------------------------------------#valoraciones starts---------------------------- -->
<div align="center" id="valoraciones" style="margin-top: 60px;" class="container spacer">
	<h2 class="text-center  wowload fadeInUp">Valoraciones</h2>
  <div class="clearfix">
    <div class="col-sm-3 row text-center">
        <img src="images/CH.jpg"></img>
    </div>
    <div class="col-sm-6">
    <div id="carousel-testimonials" class="carousel slide testimonails  wowload fadeInRight" data-ride="carousel">
    <div class="carousel-inner">  
      <!--<div class="item active animated bounceInRight row" id="valorado0">-->
      <div class="" id="valorado0">
      <div class="animated slideInLeft col-xs-2"><img alt="portfolio" src="images/id.jpg" width="100" class="img-circle img-responsive">
        <p><br>
        <button id="ver-valoraciones" class="btn-nuestro">Ver</button></p>
      </div>
      <div  class="col-xs-10">
      <p id="p0"> Aquí podras encontrar las valoraciones de la gente sobre Concrete Humanity.       </p>      
      <span><b><p id="name0">Valoraciones</p></b></span>
      </div>
      </div>
      <div class="item  animated bounceInRight row" style="display:none" id="valorado1">
      <div class="animated slideInLeft col-xs-2"><img alt="portfolio" src="images/inspiracion.jpg" width="100" class="img-circle img-responsive">
        <p><br>
        <a href="images/inspiracion.jpg" title="1" data-gallery>Ver</a></p>
      </div>
      <div  class="col-xs-10">
      <p id="p1">Nuestra inspiración proviene de varios de los lugares mas preciosos del mundo, de los tatuajes, el arte y la música. También de iconos famosos y de citas que transmiten sentimientos.</p>
      <span><b><p id="name1"></p></b></span>
      </div>
      </div>
      <div class="item  animated bounceInRight row" style="display:none" id="valorado2">
      <div class="animated slideInLeft  col-xs-2"><img alt="portfolio" src="images/id.jpg" width="100" class="img-circle img-responsive">
        <p><br>
        <a href="images/id.jpg" title="1" data-gallery>Ver</a></p>
      </div>
      <div  class="col-xs-10">
      <p id="p2">Tenemos la visión de evolucionar constantemente, ampliar nuestra gama y crear cosas nuevas, al tiempo que mantenemos la calidad ya que uno de nuestros lemas es; calidad antes que cantidad.</p>
      <span><b><p id="name2"></p></b></span>
      </div>
      </div>
      <div class="item  animated bounceInRight row" style="display:none" id="valorado3">
      <div class="animated slideInLeft  col-xs-2"><img alt="portfolio" src="images/id.jpg" width="100" class="img-circle img-responsive">
        <p><br>
        <a href="" title="1" data-gallery>Ver</a></p>
      </div>
      <div  class="col-xs-10">
      <p id="p3">Aquí la valoración.</p>
      <span><b><p id="name3"></p></b></span>
      </div>
      </div>
      <div class="item  animated bounceInRight row" style="display:none" id="valorado4">
      <div class="animated slideInLeft  col-xs-2"><img alt="portfolio" src="images/id.jpg" width="100" class="img-circle img-responsive">
        <p><br>
        <a href="" title="1" data-gallery>Ver</a></p>
      </div>
      <div  class="col-xs-10">
      <p id="p4">Aquí la valoración.</p>
      <span><b><p id="name4"></p></b></span>
      </div>
      </div>
      <div class="item  animated bounceInRight row" style="display:none" id="valorado5">
      <div class="animated slideInLeft  col-xs-2"><img alt="portfolio" src="images/id.jpg" width="100" class="img-circle img-responsive">
        <p><br>
        <a href="" title="1" data-gallery>Ver</a></p>
      </div>
      <div  class="col-xs-10">
      <p id="p5">Aquí la valoración.</p>
      <span><b><p id="name5"></p></b></span>
      </div>
      </div>
      <div class="item  animated bounceInRight row" style="display:none" id="valorado6">
      <div class="animated slideInLeft  col-xs-2"><img alt="portfolio" src="images/id.jpg" width="100" class="img-circle img-responsive">
        <p><br>
        <a href="" title="1" data-gallery>Ver</a></p>
      </div>
      <div  class="col-xs-10">
      <p id="p6">Aquí la valoración.</p>
      <span><b><p id="name6"></p></b></span>
      </div>
      </div>
  </div>
   <!-- Indicators -->
   	<ol class="carousel-indicators">
    <li data-target="#carousel-testimonials" data-slide-to="0" class="active" style="display:none" id="selector0"></li>
    <li data-target="#carousel-testimonials" data-slide-to="1" style="display:none" id="selector1"></li>
    <li data-target="#carousel-testimonials" data-slide-to="2" style="display:none" id="selector2"></li>
    <li data-target="#carousel-testimonials" data-slide-to="3" style="display:none" id="selector3"></li>
    <li data-target="#carousel-testimonials" data-slide-to="4" style="display:none" id="selector4"></li>
    <li data-target="#carousel-testimonials" data-slide-to="5" style="display:none" id="selector5"></li>
    <li data-target="#carousel-testimonials" data-slide-to="6" style="display:none" id="selector6"></li>
  	</ol>
  	<!-- Indicators -->
  </div>
    </div>
    <div class="col-sm-3 row text-center" >
        <img src="images/CH.jpg"></img>
    </div>
  </div>

<!-- team -->
<div id="redess" ></div>
<h3 id="redes" class="text-center  wowload fadeInUp">Redes sociales</h3>
<p class="text-center  wowload fadeInLeft">Síguenos en las redes sociales</p>
<div class="row grid team  wowload fadeInUpBig">	
	<div class=" col-sm-3 col-xs-6">
	<figure class="effect-chico">
        <img src="images/redes/facebook.png" alt="img01" class="img-responsive" />
        <figcaption>
            <p><br><br><br><a href="https://www.facebook.com/concretehumanity"><i class="fa fa-facebook"></i></a></p>            
        </figcaption>
    </figure>
    </div>
    <div class=" col-sm-3 col-xs-6">
	<figure class="effect-chico">
        <img src="images/redes/twitter.png" alt="img01" class="img-responsive"/>
        <figcaption>            
            <p><br><br><br><a href="https://twitter.com/concrete_h"><i class="fa fa-twitter"></i></a></p>            
        </figcaption>
    </figure>
    </div>
    <div class=" col-sm-3 col-xs-6">
	<figure class="effect-chico">
        <img src="images/redes/instagram.png" alt="img01" class="img-responsive"/>
        <figcaption>
            <p><br><br><br><a href="https://www.instagram.com/concretehumanity/"><i class="fa fa-instagram"></i></a></p>          
        </figcaption>
    </figure>
    </div>
    <div class=" col-sm-3 col-xs-6">
	<figure class="effect-chico">
        <img src="images/redes/tumblr.png" alt="img01" class="img-responsive"/>
        <figcaption>
            <p><br><br><br><a href="http://concrete-humanity.tumblr.com/"><i class="fa fa-tumblr"></i></a></p>
        </figcaption>
    </figure>
    </div>
</div>
<!-- team -->
</div>
<!-- #valoraciones ends -->
<!-- --------------------------------------Footer Starts---------------------------------- -->
<div class="footer text-center spacer">
<!--p class="wowload flipInX"><a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i class="fa fa-instagram fa-2x"></i></a> <a href="#"><i class="fa fa-twitter fa-2x"></i></a> <a href="#"><i class="fa fa-flickr fa-2x"></i></a> </p-->
Copyright 2015<a href="http://concretehumanity.com/eu/">Concrete Humanity.</a>Derechos reservados.
</div>
<!-- # Footer Ends -->

<a href="#home" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title">Title</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->  
</div>

<!-- jquery -->
<script src="assets/jquery.js"></script>

<!-- wow script -->
<script src="assets/wow/wow.min.js"></script>

<!-- boostrap -->
<script src="assets/bootstrap/js/bootstrap.js" type="text/javascript" ></script>

<!-- jquery mobile -->
<script src="assets/mobile/touchSwipe.min.js"></script>
<script src="assets/respond/respond.js"></script>

<!-- gallery -->
<script src="assets/gallery/jquery.blueimp-gallery.min.js"></script>

<!-- custom script -->
<script src="assets/script.js"></script>

<!-- Nuestro script -->
<script src="assets/tattoo-factory.js"></script>